<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/profilePage.css" />
    <style>
      /* Additional CSS for adjusting image size */
      .pawsitivity-img {
        width: 200px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div style="background-color: azure" class="main">
      <div style="background-color: brown" class="left">
        <div>
          <img src="/images/icon.png" alt="" class="pawsitivity-img" />
          <!-- Adjusted image size -->
        </div>

        <div class="aboutPawasitivity">
          <h2>About Pawasitivity</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            expedita doloribus asperiores eum quis, vitae doloremque commodi
            harum sit velit repellendus reiciendis enim laudantium illum
            molestias voluptatibus? Unde, quod nemo.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            voluptatum totam recusandae, aspernatur aperiam odit eligendi est
            magnam fugit quidem illum obcaecati odio atque cum. Officiis eos
            necessitatibus illum excepturi.
          </p>
        </div>
      </div>
      <div class="right">
        <div class="card" style="width: 15rem">
          <!-- Adjusted card size -->
          <img
            style="margin-top: 5px"
            src="/images/dogDoctor2.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Dog Doctor</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/dogVeterinary/login" class="btn btn-primary">Login</a>
            <!-- Replaced Register with Login -->
          </div>
        </div>
        <div class="card" style="width: 15rem">
          <!-- Adjusted card size -->
          <img
            style="margin-top: 5px"
            src="/images/dogParent.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Dog Parent</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/dogParent/login" class="btn btn-primary">Login</a>
            <!-- Replaced Register with Login -->
          </div>
        </div>
        <div class="card" style="width: 15rem">
          <!-- Adjusted card size -->
          <img
            style="margin-top: 5px"
            src="/images/dogProductSeller.jpg"
            class="card-img-top seller"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Pet store</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/petStore/login" class="btn btn-primary">Login</a>
            <!-- Replaced Register with Login -->
          </div>
        </div>
        <div class="card" style="width: 15rem">
          <!-- Adjusted card size -->
          <img
            style="margin-top: 5px"
            src="/images/dogTrainer.jpg"
            class="card-img-top trainer"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Dog Trainer</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/dogTrainer/login" class="btn btn-primary">Login</a>
            <!-- Replaced Register with Login -->
          </div>
        </div>
      </div>
    </div>

    <!-- Link for users who don't have an account to register -->
    <div style="text-align: center; margin-top: 20px">
      <a href="/register" class="btn btn-primary"
        >Don't have an account? Register</a
      >
    </div>
  </body>
</html>
