* {
    margin: 0;
    padding: 0;
}

#main {
    padding-top: 150px;
    padding-left: 20px;
}

#profile {
    position: absolute;
}

#dog-profile-1 {
    margin-left: 21rem;
    position: absolute;
}

#dog-profile-2 {
    margin-left: 43rem;
}

#dog-profile-3 {
    height: 120px;
    margin-left: 21rem;
    margin-top: 30px;
    position: absolute;
}

#addnew-dog {
    height: 80px;
    width: 80px;
    border-radius: 80px;
    border-color: black;
    border-width: 1px;
    margin-left: 7rem;
    margin-top: 15px;
}

#profile-img-div {
    margin: 20px 0px 10px 80px;
    height: 130px;
    width: 130px;
    border-radius: 130px;
    background-color: #0a0a0a;
    text-align: center;
}


#profile-img {
    text-align: center;
    height: 130px;
    width: 130px;
    border-radius: 130px;
}


#contact {
    background-color: #0a0a0a;
    height: 30vh;
    margin-top: 325px;
}

#con-heading {
    text-align: center;
    color: lightgrey;
    font-size: large;
    padding: 30px 0;
}

#con-btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

#con-btn-collection {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#line-start {   
    border: solid lightgrey 1px;
    height: 0%;
    width: 35px;
    margin-left: 5px;
    align-self: center;
}

#line-end {
    border: solid lightgrey 1px;
    height: 0%;
    width:  35px;
    margin-right: 5px;
    align-self: center;
}

#copyright {
    text-align: center;
    color: lightgrey;
}

.sidebar {
    margin-left: 1064px;
    padding: 0;
    width: 300px;
    height: 700px;
    background-color: #FDF4F5;
    position: absolute;
    height: 100%;
    overflow: auto;
}

.dd-btn {
    align-items: center;
    width: 300px;
    background-color: #ffffff;
    height: 50px;
    border-top: none;
    border-right: none; 
    border-bottom-color: black;
    border-bottom-width: 2px;
    text-align: start;
}

.menu {
    width: 300px;
}

.dog-img{
    height: 80px;
    width: 80px;
    border-radius: 80px;
    background-color: black;
}

.dog-img-div {
    margin-top: 35px;
    margin-left: 25px;
    height: 80px;
    width: 80px;
    border-radius: 80px;
    background-color: black;
    position: absolute;
}

.dog-card-body {
    margin-left: 120px;
}

.card-text {
    margin-bottom: 0;
}

.navbar{
    display: inline-block;
    position: fixed;
    width: 1000px;
}
.cusotm{
    float: left;
}